{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {#{{ form_start(registration_form) }}#}
                {#{{ form_widget(registration_form) }}#}
                {#<button class="btn btn-lg btn-primary btn-block" type="submit" name="form_name[submit]">#}
                    {#Register#}
                {#</button>#}
                {#{{ form_end(registration_form) }}#}
                {{ form(registration_form) }}
            </div>
        </div>
    </div>
{% endblock %}
