<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Marko's blog{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
    <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('blog_index') }}">Marko's Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link nav-strong" href="{{ absolute_url('/myarticles') }}">My Articles</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Link 3</a>
            </li>
        </ul>


        <ul class="navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown" style="margin-right: 75px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="nav-profile-img rounded-circle" src="{{ app.user.avatarUrl(100) }}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('article_new') }}"> {{ app.user.username }} Profile</a>
                        {% if is_granted('ROLE_EDIT_ARTICLE') %}
                            <a class="dropdown-item" href="{{ path('article_new') }}">Create Article</a>
                            <a class="dropdown-item" href="{{ path('categoies_show') }}">Categories</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a style="color: #fff;" class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% block body %}{% endblock %}

    <footer class="footer">
        <div class="row">
            <div class="author">Created By: Marko Marinovic</div>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script >
        $('.dropdown-toggle').dropdown();
    </script>
    <script>
        $('.comment-div').click(function() {
            $(this).next('.hidden-comment-form').toggle('slow');
        });

    </script>


</body>
</html>
